<script>
  $(function(){
    $("#principal").addClass('active')
  });
</script>
<div id="banner" class="container"> <img src="img_sibure/banner_inegi.jpg" width="1200" height="400" alt="" /> </div>
<div id="three-column" class="container">
  <header>
  <h2><center>
  </center></h2>
  </header>
  <div class="tbox1">
    <div class="box-style box-style01">
      <div class="content"> <a href="" class="image image-full"><img src="images/pez.jpg" alt="" width="100%" height="256"></a>
        <h2>agregar</h2>
        <p>Modulo destinado para la captura de la información de nuevos candidatos.</p>
        <a href="" class="button-style">Entrar</a> </div>
    </div>
  </div>
  <div class="tbox2">
    <div class="box-style box-style02">
      <div class="content"> <a href="" class="image image-full"><img src="images/col21.jpg" alt=""></a>
        <h2>Modificar</h2>
        <p>Modulo destinado para la modificación de información de los candidatos. </p>
        <a href="" class="button-style">Entrar</a> </div>
    </div>
  </div>
  <div class="tbox3">
    <div class="box-style box-style03">
      <div class="content"> <a href="" class="image image-full"><img src="img_sibure/reycol.jpg" alt="" width="99%" height="256"></a>
        <h2>Consultar</h2>
        <p>Modulo destinado para consultar informacion acerca de los posibles candidatos.</p>
        <a href="" class="button-style">Entrar</a> </div>
    </div>
  </div>
</div>
<div id="page">
  <div id="content"></div>
  <div id="sidebar"></div>
</div>
